* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #002215;
}

body {
  background-color: #ddfff8;
}

.game-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  font-family: 'Fascinate', cursive;
}

.start-button {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.start {
  min-width: 100px;
}

#timer {
  float: left;
  clear: both;
}

/* GAME GRID AND PLAYING CARDS */
.row {
  margin: auto;
}

.card-container {
  height: 15vh;
  padding: 1.5vh;
}

.button-tile {
  height: 100%;
  width: 100%;
  padding: 0px;
  background-color: transparent;
  border: transparent;
}

.card {
  background-color: #a8ecd1;
  height: 100%;
  justify-content: center;
  align-items: center;
  border: 3px solid #005835;
  transition: all .4s linear;
  transform-style: preserve-3d;
}

.card-body {
  display: flex;
  align-items: center;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #00a060;
}