* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #002215;
}

body {
  background-color: #ddfff8;
}

.game-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* TITLE SCREEN */
#title {
  font-family: 'Fascinate', cursive;
}

.start {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.start-button {
  min-width: 100px;
}

/* GAME OVER OVERLAY */
#overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; /* Sit on top of the page content */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#game-over {
  color: #ddfff8;
  text-shadow: 2px 2px black, -2px -2px black;
  height: 50%;
}

#restart-game {
  max-height: 60px;
  height: 100%;
  min-width: 100px;
}

/* TIMER */
#timer {
  float: left;
  clear: both;
}

#countdown {
  font-size: calc(14px + 0.5vw);
  margin: 0px;
}

/* GAME GRID AND PLAYING CARDS */
.row {
  margin: auto;
}

.card-container {
  height: 15vh;
  padding: 1.5vh;
}

.button-tile {
  height: 100%;
  width: 100%;
  padding: 0px;
  background-color: transparent;
  border: transparent;
}

.card {
  background-color: #a8ecd1;
  height: 100%;
  min-height: 69px;
  justify-content: center;
  align-items: center;
  border: 3px solid #005835;
  transition: all 0.2s linear;
}

.card-body {
  display: flex;
  align-items: center;
}

.card-back {
  background-color: #00a060;
  transition: all 0.1s linear;
}
